<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Glocal Ocean</title>
        <link href="css/styles.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </head>
    <body id="page-top" class="bg-aqua">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
            <div class="container px-5">
                <a class="navbar-brand" href="#page-top">Glocal Ocean</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Главная</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="oceanariums.html">Океанариумы</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Представители</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Рыбы</a></li>
                            <li><a class="dropdown-item" href="#">Моллюски</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="#!">Регестрация</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Вход</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="masthead text-center text-white">
            <div class="masthead-content">
                <div class="container px-5">
                    <h1 class="masthead-heading mb-0">Global Ocean</h1>
                    <h2 class="masthead-subheading mb-0">Все океанариумы в одном месте</h2>
                    <!-- <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">Learn More</a> -->
                </div>
            </div>
            <div class="bg-circle-1 bg-circle"></div>
            <div class="bg-circle-2 bg-circle"></div>
            <div class="bg-circle-3 bg-circle"></div>
            <div class="bg-circle-4 bg-circle"></div>
        </header>
        <!-- Content-->
        <div class="container text-white">
            <a>Global Ocean - это удивительные места, где вы можете познакомиться с разнообразием морской жизни, узнать много интересного о ней и даже поучаствовать в увлекательных активностях. На нашем сайте вы найдете информацию о самых известных и популярных океанариумах в разных странах, их истории, экспозициях, услугах и ценах. Вы также сможете забронировать билеты онлайн и получить скидки на посещение.</a>
            <hr>
            <h2>Случайные океанариумы</h2>
            <hr>
            <section>
                <div class="container text-center">
                    <div class="row align-items-start">
                        <div class="col">
                            <h3>#{id}</h3>
                            <h4>Описание</h4>
                            <a>это центр океанографии и морской биологии, где вы можете увидеть более 12 тысяч морских животных и посмотреть водное шоу с косатками и дельфинами</a>
                            <h5>Оценка: отлично</h5>
                            <a class="btn btn-primary btn-xl rounded-pill mt-5" href="oceanarium.html">Узнать больше</a>
                        </div>
                        <div class="col">
                            <h3>Океанариум в Дубае</h3>
                            <h4>Описание</h4>
                            <a>это самый большой в мире океанариум, расположенный в торговом центре Dubai Mall. Здесь вы можете пройти по стеклянному тоннелю под водой, покормить рыб из рук или поплавать с акулами</a>
                            <h5>Оценка: отлично</h5>
                            <a class="btn btn-primary btn-xl rounded-pill mt-5" href="oceanarium.html">Узнать больше</a>
                        </div>
                        <div class="col">
                            <h3>Океанариум в Осаке</h3>
                            <h4>Описание</h4>
                            <a>это один из самых посещаемых океанариумов в Японии, известный своим гигантским аквариумом, в котором плавают два кита-акулы. Здесь вы можете погрузиться в мир Тихого океана и увидеть более 580 видов морских животных</a>
                            <h5>Оценка: отлично</h5>
                            <a class="btn btn-primary btn-xl rounded-pill mt-5" href="oceanarium.html">Узнать больше</a>
                        </div>
                    </div>
                </div>
            </section>
            <hr>
            <h2>Случайная рыба</h2>
            <hr>
            <section>
                <h3>Черноперая рифовая акула</h3>
                <a>Относится к классу "Хрящевые рыбы", а также является пресноводной, обитают в Индо-Тихоокеанского регион</a>
            </section>
            <hr>
            <section>
                <a>Если вы любите море и хотите узнать больше о его тайнах, то Global Ocean - это то, что вам нужно. На нашем сайте вы найдете все необходимые сведения для планирования вашего посещения. Не упустите шанс окунуться в удивительный мир океанариумов!</a>
            </section>
        </div>
    </body>
</html>
